@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a: 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: black;
    color: white;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li{
    display: flex;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 20px 10px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.heading svg{
    width: 20px;
}
.library{
    min-height: 77vh;
    position: relative;
}
.footer{
    display: flex;
    font-size: 9px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.footer a{
    color: grey;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 37%)
}
.header >*{
    padding: 20px;
}
.hamburger{
    display: none;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.spotify-playlist{
    padding: 16px;
}
.spotify-playlist h1{
    padding: 5px;
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 60vh;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.5s;
}
.card >*{
    padding-top: 3px;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.card:hover{
    background-color: #383838;
    cursor: pointer;
    --a: 1;
}
.play-in-card{
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 13px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}
.btns{
    margin: 0 12px;
}
.signupbtn{
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    color: rgb(82, 82, 82);
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
}
.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    font-size: 16px;
}
.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}
.playbar{
    position: fixed;
    bottom: 20px;
    background: #3e3e3e;
    border-radius: 10px;
    width: 70vw;
    padding: 15px;
    min-height: 40px;
    font-size: 17px;
    margin: 10px 15px;
    
}
.songbtns{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.songbtns img{
    cursor: pointer;
}

.songList{
    height: 500px;
    overflow: auto;
    margin-bottom: 44px;
}
.songList ul{
    padding: 0 10px;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    border: 1px solid rgba(181, 180, 180, 0.877);
    margin: 12px 0;
    padding: 2px 10px;
    border-radius: 5px;
    justify-content: space-between;
}
.info{
    font-size: 11px;
    align-items: center;
}
.info div{
    word-break: break-all;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.playnow span{
    font-size: 13px;
    width: 64px;
    padding: 12px;
}
.seekbar{
    height: 4px;
    width: 97%;
    background-color: #ffffff;
    position: absolute;
    bottom: 4px;
    margin: 6px;
    cursor: pointer;
    border-radius: 10px;
}
.circle{
    width: 14px;
    height: 14px;
    border-radius: 13px;
    position: relative;
    right: 20px;
    bottom: 6px;
    background-color: #ffffff;
    left: 0%;
    transition: left 0.5s;
}
.songinfo{
    color: white;
    padding: 0 12px;
    width: 263px;
}
.songtime{
    color: white;
    padding: 0 12px;
    width: 125px;
}
.close{
    display: none;
}
.abv-bar{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.vol-Time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.volume{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}

@media (max-width: 1200px) {
    .left{
        position: fixed;
        left: -130%;
        transition: all 0.3s;
        z-index: 1;
        width: 420px;
        background-color: black;
        height: 100%;
        padding: 0;
    }
    .left .close{
        display: block;
        position: absolute;
        right: 30px;
        top: 25px;
    }
    .right{
        width: 100vw;
        margin: 0;
    }
    .playbar{
        width: calc(100vw - 60px);
    }
    .seekbar{
        width: calc(100vw - 70px);
    }
    .hamburger{
        display: block;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .card{
        width: 44vw;
    }
    .abv-bar{
        flex-direction: column;
        align-items: center;
    }
    .songinfo , .songtime{
        width: auto;
    }
    .vol-Time {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .play-in-card{
        top: 290px;
        right: 20px;
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .btns>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotify-playlist h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }
    
    .play-in-card {
        top: 266px;
        right: 15px;
        height: 40px;
        width: 40px;
    }
}